@import "../../styles/mixins";

.header-left {
    &__p {
        color: var(--primary-orange, #FEA013);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */
        margin: 0;
    }
}